@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- This page is included WITHIN the Shared _Layout.cshtml page -->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
